.data-content(layout='row' layout_align='space-between start')
  .chart(flex='' layout='row')
    %canvas#line.chart(class="chart chart-line"
      chart-data="[forecast.analysed_data, forecast.initial_data.values]"
      chart-labels="forecast.forecast_dates")
