.data-content(layout='row' layout_align='space-between start')
  .chart(flex='' layout='row')
    %canvas#line.chart(class="chart chart-line"
      chart-data="[forecast.analysis.forecast, forecast.analysis.data]"
      chart-labels="forecast.forecast_dates")
