.forecast-form-container(layout='row' layout-align='space-between center')
  %form#forecast-form.forecast-form(name='forecastForm'
    ng-submit='ctrl.update(forecastForm, forecast)' novalidate)

    %md-whiteframe(layout='column' layout_align='center stretch' layout-padding='')

      %md-content(flex='')
        %md-input-container.md-block
          %label {{ 'forecast.type' | translate }}
          %md-select.types-select(required='' ng-model='forecast.analysis_type')
            %md-option.type-option(id="select-{{type}}" ng-repeat="type in forecast.support_types" ng-value='type') {{ 'forecast.methods.' + type | translate }}

        %md-input-container.md-block(forecasts_dependencies forecast='forecast' field="'period'")
          %label {{ 'forecast.period' | translate }}
          %input(ng_model='forecast.period' name='period' min='1' type='number' step='1' server-error)
          %div.validators(ng_messages='forecastForm.period.$error')
            %div(ng_message='server') {{ forecastForm.period.errors }}

        .forecast-patameters(layout='row' layout_align='space-between center')
          %md-input-container.md-block(ng-repeat="field in ['alpha', 'beta', 'fi']"
            forecasts_dependencies forecast='forecast' field='field')
            %label {{ 'forecast.' + field | translate }}
            %input(ng_model='forecast[field]' name='{{field}}' min='0' max='1' type='number' step='0.01' server-error)
            %div.validators(ng_messages='forecastForm[field].$error')
              %div(ng_message='server') {{ forecastForm[field].errors }}

      .form-actions(layout='column')
        %md-button.md-raised.md-24(aria-label='upload forecast'
          ngf-change='forecastForm.$setSubmitted(); ctrl.upload(forecastForm, forecast, $file)'
          ngf-select='')
          %md-icon file_upload
          {{ 'forecast.upload' | translate }}

          %input.hidden(name='file' type='file'
            ngf-change='forecastForm.$setSubmitted(); ctrl.upload(forecastForm, forecast, $file)'
            ngf-select='')

        %md-button#update-forecast.md-raised.md-primary.md-24(aria-label='update forecast' type='submit')
          %md-icon replay
          {{ 'forecast.update' | translate }}


  .forecast-chart-wrap(flex='')
    %forecasts_chart(ctrl='ctrl' forecast='forecast')
    {{ 'forecast.error_percent' | translate }} {{ forecast.analysis.error_percent + '%' }}
