.forecast-form
  %md-button.md-raised.md-primary(layout='row'
    aria-label='update forecast'
    ngf-change='ctrl.upload(task, forecast, $file)'
    ngf-select='')
    {{ 'task.upload' | translate }}

    %input.hidden(name='file' type='file'
      ngf-change='tasks.upload(task, forecast, $file)'
      ngf-select='')
