.table {
  table-layout: fixed;
  border-spacing: 0;
  border-bottom-color: transparent;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th:last-child,
      > td:last-child  {
        text-align: right;
      }
      > th,
      > td {
        text-align: left;
        padding: 20px;
      }
      > td {
        border-bottom: 1px solid grey;
      }
    }
  }
}

.data-content {
  display: block;
  .table {
    margin: 0 auto;
    margin-bottom: 50px;
  }
}
.forecast-table {
  width: 100%;
}
